.carousel-wrapper {
    max-width: 750px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}
.image-container {
    margin: auto;
}
.image-container img {
    width: 100%;
    border: 5px solid #c0c0c0;
}
.carousel-bottom {
    padding: 25px 0 0 0;
}